.main-block {
    border: 1px solid tomato;
    background-color: lightgray;

    width: 500px;

   display: flex;
   justify-content: center;
   flex-direction: column;

   margin: 0 auto;
}

.timer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.start-btn{


    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: larger;

    margin: auto;
    
    width: 125px;
    height: 45px;

    margin-top: 30px;

}


input{
    border: 2 solid white;
    background-color: tomato;
    color: black;

    font-weight: bold;
    margin: auto;
    margin-top: 30px;
    width: 225px;
    height: 25px;
}


.field {}

.value {
    color: tomato;
    font-weight: 800;
    font-size: larger;

}

.label {}